
 html,body{
      margin:0;
      padding:0;
      height:100%;
      border:none
   }


div#container {
	width:760px;
	position:absolute;
	top:0px;
	left:235px;
}



	/* Left Bar Navigation */
	table tr td ul {
	list-style-type:none;
	list-style:none;
	vertical-align:top;
	margin:103px 5px 0px 0px;
	padding:0px;
	width:235px;
	background-color:#000000;
	}

	table tr td li {
	list-style-image:none;
	list-style-type:none;
	font-family: Baskerville, "Times New Roman", serif;
	letter-spacing: .2em;
	width:234px;
    text-align:right;
	font-size:11px;
	margin:0px;
	padding:0px;
	text-align:right;
	vertical-align:top;
	}
	
	table tr td li a{
	color:white;
	text-decoration: none;
	font-weight:bold;
	}
	
	table tr td li a:hover{
	color:#8aa6b4;
	text-decoration: none;
	}
	
	/* End of Left Bar Nav */
	
	
	/* About Div*/
	
	div#about_list{ padding:0px; margin:59px 0px 0px 20px; float:left; text-align:left; display:inline;}
	div#about_list h2{ margin:0px 0px 0px 0px; padding:0px; font-family: Baskerville, "Times New Roman", serif; font-size:38px; display:block;}
	div#about_list ul{font-family:Baskerville, "Times New Roman", serif; list-style-image:none; margin:0px 0px 5px 0px; padding:0px;}
	div#about_list ul li{ list-style-type:none; font-size:11px; margin:0px; padding:0px; }
	div#about_list p{ margin:0px 0px 7px 0px; padding:0px; width:380px; font-family:Baskerville, "Times New Roman", serif; font-size:11px;}
	div#about_list a{ font-family:Bakersville, "Times New Roman", serif; font-size:11px; color:#333333; padding:0px; margin:8px 0px 0px 0px; }
	
	
	
	div#about_words{ font-family:Baskerville, "Times New Roman", serif; font-size:11px; float:left; margin:88px 0px 0px 50px; padding:0px; width:375px; }
	
	/* End About Div*/
	
	
	
	div#contributors{padding:0px;
	font-family:Baskerville, "Times New Roman", serif;
	font-size:11px;
	width:350px;
	margin:15px 0px 0px 20px;
	float:left;
	text-align:left;
	}
	
	div#contributors ul{
	font-family:Baskerville, "Times New Roman", serif;
	list-style-image:none;
	margin:0px 0px 5px 0px;
	padding:0px;
	}
	

	div#contributorst ul li{
	list-style-type:none;
	font-size:11px;
	margin:0px;
	padding:0px;
	}
	
	div#contributors h2{
	margin:0px 0px 0px 0px;
	padding:0px;
	font-family: Baskerville, "Times New Roman", serif;
	font-size:38px;
	display:block;
	}
	
	
	
	/*End Contributors_list */
	
	
	
	div#letter_right_words{ font-family:Baskerville, "Times New Roman", serif; font-size:11px; float:left; margin:105px 0px 0px 25px; padding:0px; width:319px; text-decoration:none; }
	div#letter_right_words a{ font-family:Baskerville, "Times New Roman", serif; color:black; font-size:11px; text-decoration:none; }
	div#letter_right_words a:hover{ font-family:Baskerville, "Times New Roman", serif; font-size:11px; color:#8aa6b4;text-decoration:none; }
	
	div#letter_right_sucre{
	font-family:Baskerville, "Times New Roman", serif;
	font-size:11px;
	float:left;
	margin:50px 0px 0px 100px;
	padding:0px;
	width:400px;
	}
	
	div#letter_right_sucre h2{
	margin:0px 0px 0px 0px;
	padding:0px;
	font-family: Baskerville, "Times New Roman", serif;
	font-size:38px;
	display:block;
	
	}
	
	div#table_of_contents{ padding:0px; width:300px; display:inline; margin:26px 0px 0px 20px; float:left; text-align:left; }
	div#table_of_contents ul{ font-family:Baskerville, "Times New Roman", serif; list-style-image:none; margin:6px 0px 0px 0px; padding:0px; }
	div#table_of_contents ul li{ font-family:Baskerville, "Times New Roman", serif; list-style-type:none; font-size:11px; margin:0px 0px 5px 0px; padding:0px;}
	div#table_of_contents ul li a{ font-size:13px; color:black; text-decoration:none; }
	
	

	
	div#table_of_contents ul li a:hover{
	font-size:13px;
	color:#8aa6b4;
	text-decoration:none;
	}
	
	
	div#story{ padding:0px;
	 font-family:Baskerville, "Times New Roman", serif;
	  font-size:11px; width:350px;
	   margin:15px 0px 0px 20px; 
	   float:left; 
	   text-align:left; }
	
	div#story h6{ font-family:Bakersville, "Times New Roman", serif; font-size:13px; padding:0px; margin:8px 0px 0px 0px; font-weight:normal; }
	
	div#story a{ text-decoration:none; font-family:Bakersville, "Times New Roman", serif; font-size:11px; color:black; padding:0px; margin:8px 0px 0px 0px;}
	
	div#story a:hover{ text-decoration:none; font-family:Bakersville, "Times New Roman", serif; font-size:11px; color:#8aa6b4; padding:0px; margin:8px 0px 0px 0px;}
	
	
	div#story_right{ padding:0px; 
	font-family:Baskerville, "Times New Roman", serif;
	 font-size:11px; width:350px; 
	 margin:87px 0px 0px 20px;
	  float:left; 
	 text-align:left; }
	
	
	
	div#story_right h6{ font-family:Bakersville, "Times New Roman", serif; font-size:13px; padding:0px; margin:13px 0px 0px 0px; font-weight:normal; }
	
	div#story_right_zraku{
	padding:0px;
	font-family:Baskerville, "Times New Roman", serif;
	font-size:11px;
	width:350px;
	margin:97px 0px 0px 20px;
	float:left;
	text-align:left;
	}
	
	div#story p{
	margin:0px;
	padding:0px;
	}
	
	div#story_right_zraku p{
	margin:0px;
	padding:0px;
	}
	
	div#story_right_zraku h6{ 
	font-family:Bakersville, "Times New Roman", serif; 
	font-size:13px; 
	padding:0px;
	margin:6px 0px 0px 0px; 
	font-weight:normal; }
	
	
	div#story_right_logogrammes{
	padding:0px;
	font-family:Baskerville, "Times New Roman", serif;
	font-size:11px;
	width:350px;
	margin:20px 50px 0px 20px;
	
	float:right;
	
	
	
	}
	
	div#story_right_logogrammes p{
	margin:0px;
	padding:0px;
	}
	
	div#story_logogrammes {
	width:250px;
	float:left;
	margin:17px 2px 0px 20px;
	text-align:left;
	font-family:Baskerville, "Times New Roman", serif;
	font-size:11px;
	}
	
	div#story_logogrammes a {font-family:Baskerville, "Times New Roman", serif; color:black; font-size:11px; text-decoration:none; }
	
	
	div#story_logogrammes a:hover {font-family:Baskerville, "Times New Roman", serif; font-size:11px; color:#8aa6b4;text-decoration:none}
	
	
	