@charset "UTF-8";
/* CSS Document */

	body * { 
	margin:0; padding:0; }

	div#header {
	
	}
	
	
	div#navigation {
	float:left;
	background-color:black;
	width:200px;
	position:absolute;
	top:0px;
	left:0px;
			}
	
	div#navigation ul{
	list-style-type:none;
	float:left;
	padding:0px;
	margin:230px 10px 200px 25px;
			}
	
	div#navigation li{
	font: Baskerville;
	font-size:12px;
	color:white;
	text-align: right;
	padding-top: 10px;
	}
	
	div#container {
	position:absolute;
	top:0px;
	left:200px;
	border:1px solid #F00;
	}
	
	
	div#content {
	width:500px;
	background-color:white;
	border:1px solid #00F;
	
	}
	
	
	div#foot_nav {
	
	
	}