.poem__meta {
    line-height: 1;
    margin-bottom: $column-gutter;
}

.poem__artist-credit {
    color: #797979;
    font-family: $header-font-family;
    font-size: rem-calc(12);
    font-style: italic;
    text-align: right;

    @media #{$large-up} {
        //padding-right: 50px;
    }
}

.poem__subnav{

}

.poem__translated{
        padding: ($column-gutter / 2) 0;
        @media #{$large-up} {
            padding-top: 0;
        } 
}
.poem__translated-title.poem__shared-title {
    @media #{$large-up} {
        visibility: hidden;
    }
}

.poem__untranslated-title.alt-font h1 {
    font-family: Helvetica, Arial, sans;
    font-weight: normal;
    font-size: 48px;
}

.poem__compilation-title {
    padding: $column-gutter 0;
    margin: 0;
}


.poem__wrap {
    background: white;
    padding: rem-calc(40) 0;
    border: 1px solid #eee;
}
.poem__container {
    @media #{$large-up} {
        opacity: 0;
    }

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    p {
        line-height: 1.2em;
        margin-bottom: 0;
    }

    hr {
        border-color: rgba(152, 143, 120, 0.59);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.poem__body {
    @media #{$large-up} {
        padding: 0 ($article-poetry-padding / 2);
    }
}

.poem__body--original-work {
    padding-top: 30px;

    @media #{$medium-up} {
        padding-top: 0;
    }
}

.poem__body--lang-ar, .poem__body--lang-ku{
    font-family: $arabic-font-family;

    h1, h2, h3, h4, h5, h6 {
        font-family: $arabic-font-family;
    }
}

.poem__text--lang-ar, .poem__text--lang-ku {
    font-size: rem-calc(17);
}

.poem__cover-container {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #666;

    @media #{$small-up} {
        min-height: 275px;
    }

    @media #{$medium-up} {
        min-height: 350px;
    }

    @media #{$large-up} {
        min-height: 425px;
    }

    @media #{$xlarge-up} {
        min-height: 525px;
    }
}


.issue-nav {
    margin-top: $footer-padding;
    font-size: rem-calc(28);
    font-family: $header-font-family;
    line-height: 1.2;

    &__toc-container {
        text-align: center;
        padding-bottom: $column-gutter;

        @media #{$large-up} {
            //margin-top: -30px;
            padding-bottom: 0;
        }


    }
    &__toc-link {
        font-size: rem-calc(24);
        text-transform: uppercase;
        margin-top: $column-gutter;
        border-bottom: 2px solid $primary-color;

        &:hover {
            border-radius: 3px;
        }

        @media #{$large-up} {
            // padding-bottom: rem-calc(10);
        }
    }
    &__prev-container {
        text-align: center;

        @media #{$large-up} {
            text-align: left;
        }
    }

    &__next-container {
        text-align: center;

        @media #{$large-up} {
            text-align: right;
        }

        &.hide-for-large-up {
            padding: 20px 0;
        }
    }

    @media #{$large-up} {
        //text-align: right;
    }
}

.translation-nav{
    text-align: center;
}

.translation-nav__item{
    &.tab-title{
      float: none;
      display: inline-block;      
    }

}

.translation-nav .translation-nav__item.active > a{
    color: #fff;
}
//Change global layouts and nav using modifiers:

.layout--Article {
    padding-top: $column-gutter / 2;

    &.equalized .poem__container {
        opacity: 1;
    }
}

.nav-container--Article{
    background-size: cover;
    background-repeat: no-repeat;   
}

.top-bar--Article{
    background: none;    
}
.top-bar--Article .name h1 a, .top-bar--Article .name h2 a, .top-bar--Article .name h3 a, .top-bar--Article .name h4 a, .top-bar--Article .name p a, .top-bar--Article .name span a {
    @media #{$large-up} {
        padding: 0 ($article-poetry-padding / 2);
    }
}

.nav-screen--Article {
    background-color: rgba($topbar-base-color, 0.67);
}
.row--Article {
    max-width: $article-row-width;
}

.contain-to-grid--Article .top-bar {
    max-width: $article-row-width;
}