.cover-container{
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 300px;

	.top-bar {
  		background-color: rgba($topbar-base-color, 0);

	}

	.contain-to-grid{
		background: rgba($topbar-base-color, 0.3);
	}

}
.cover-content{
	
	color: white;
	text-align: center;
	background-attachment: fixed;
	background-position: 50% 50%;
	span {
		color: #eee;
		text-transform: uppercase;
		font-family: $header-font-family;
		font-size: rem-calc(15);
	}

	a{
		color: lighten($primary-color, 50);
		display: inline-block;
		border-bottom: 3px white solid;
		padding: rem-calc(16);
		font-family: $header-font-family;
		font-size: rem-calc(32);
		color: white;
 		-webkit-transition: all 1s;
    	transition: all 1s;
		&:hover{
			background: rgba(#333, 0.7);
			border-bottom-color: lighten($primary-color, 50);
		}
	}

	@media #{$medium-up}{
		padding-top: 150px;
		min-height: 500px;
	}

	@media #{$large-up}{
		padding-top: 150px;
		min-height: 600px;
	}

	@media #{$xlarge-up}{
		padding-top: 200px;
		min-height: 700px;
	}

}