.HomePage {
	.main {
		padding-top: 0;
	}


	.start-reading {

	}

	
}

.issue-preview__wrap{
	padding: rem-calc(20) rem-calc(40);
	padding-bottom: 0;
	background: white;
	border: 1px solid #eee;
	@media #{$large-up} {
		margin-top: rem-calc(-150);
		margin-bottom: rem-calc(30);
	}
}

.issue-preview__start-reading{
		//text-transform: uppercase;
		text-align: center;
		font-family: $header-font-family;
		font-size: rem-calc(36);

		a {
			//border-bottom: 2px solid $primary-color;
	
		}

		@media #{$large-up} {
			line-height: 98px;
			text-align: right;
		}
}
