.HomePage{

	.main{
		padding-top: 0;
	}
	.issue-preview{
		//margin-top: -200px;
		background: url(../images/tile.jpeg);
		//padding: $column-gutter;
	}
	.start-reading{
		//text-transform: uppercase;
		text-align: right;
		font-family: $header-font-family;
		line-height: 98px;
		font-size: rem-calc(36);
		a{
			//border-bottom: 2px solid $primary-color;
		}
	}

	.cover-content{

		.issue-title{
			font-size: rem-calc(32);
		}

		
	}

}