.HomePage {
	.main {
		padding-top: 0;
	}

	.issue-preview {
		//margin-top: -200px;
		background: url(../images/tile.jpeg);

		//padding: $column-gutter;

	}

	.start-reading {
		//text-transform: uppercase;
		text-align: center;
		font-family: $header-font-family;
		font-size: rem-calc(36);

		a {
			//border-bottom: 2px solid $primary-color;
	
		}

		@media #{$large-up} {
			line-height: 98px;
			text-align: right;
		}
	}

	.news-list {
		h3 {
			font-size: rem-calc(22);
		}

		article time {
			font-size: rem-calc(15);
		}
	}

	.news-list__item {
		img.news-list__img {
			height: 250px;
			width: 500px;
		}

		a {
			background: #eee;
			display: block;
			position: relative;
		}

		.news-list__overlay, .news-list__title {
			opacity: 0;
			display: block;
			position: absolute;
			overflow: hidden;
		}

		.news-list__overlay {
			transition: opacity .25s ease-in-out;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
		}

		&:hover {
			.news-list__overlay {
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: #000;
				-ms-filter: "alpha(opacity=50)";
				filter: alpha(opacity = 30);
				-moz-opacity: .5;
				-khtml-opacity: .5;
				opacity: .5;
			}

			.news-list__title {
				display: block;
				position: absolute;
				left: 0;
				top: 30%;
				width: 100%;
				margin-top: -10px;
				text-align: center;
				opacity: 1;
				line-height: 2;

				a, p {
					color: white;
				}

				h2 {
					text-transform: uppercase;
					font-weight: normal;
					font-size: rem-calc(20);

					@media #{$large-up} {
						font-size: rem-calc(20);
					}

					margin: 0;
					color: white;
					border-top: 3px solid white;
					border-bottom: 3px solid white;
				}
			}
		}
	}
}