.Issue {
	.table-of-contents {
		background: $body-bg;

		article {
			padding: ($column-gutter / 2) 0;
		}

		@media #{$large-up} {
			padding: $column-gutter;
			padding-top: 70px;
			margin-top: -200px;
		}
	}

	.issue-title {
		font-size: rem-calc(32);

		@media #{$medium-up} {
			font-size: rem-calc(52);
		}

		@media #{$large-up} {
			font-size: rem-calc(72);
		}
	}

	.issue-date {
		color: #eee;
		font-family: $header-font-family;
		font-size: rem-calc(12);
		text-align: center;
		text-transform: uppercase;

		@media #{$medium-up} {
			text-align: right;
		}

		span {
			padding-right: 5px;
			display: block;

			@media #{$xlarge-up} {
				padding-top: $column-gutter;
			}
		}
	}
}