.side-nav-column {
	position: fixed;
	overflow-y: scroll;
	height: 100%;
	background-color: #F8F8F8;
	@media #{$medium-up} {
		@include grid-column(
			$collapse: true
		);
	};
} 

.side-nav, ul.off-canvas-list {
	
	//padding: 10px;

	h3 small{
		display: block;
		line-height: 1.1;
	}

	@media #{$medium-up}{
		padding: 0;
	}

	li {
		background-color: #372B21;
		border-bottom: 1px solid #524444;
		
		
		.nav-li-content {
			padding: 1rem;
			color: $gray;
		}
		
		
		a {
			transition: none;
			color: #fff;
		}
	}
	:last-child{
		border-bottom: 0;
	}
	h1, h2, h3, h4, h5, h6{
		text-transform: none;
		color: #fff;
	}
	a.article-nav {
		color: #646464;
		//padding: 20px 15px;
	}

	p{
		line-height: 1;
	}

	h3{
		margin-top: 0;
		font-size: rem-calc(18);
		line-height: 1.1;
	}
	p, span, h3{
		@media #{$large-up} {
			margin-right: 2px;
		}
	}
	
	.byline{
		font-size: rem-calc(12);
		margin-bottom: 0;
	}
	
	
	li.article-nav a:hover, li.active a{
		background-color: lighten($primary-color, 25%);
		color: $lightGray;
		background-image: url('../images/sidenav-active.png');
		background-position: 100% 0;
		background-repeat: repeat-y;
	}

	li.title-nav {
		background-color: #28201A;
		text-align: center;
		//padding-top: 1px;
		//background-image: url(../images/paperback.png);
		//background-repeat: no-repeat;
		//background-size: contain; 
		
		:hover{
			//background-color: $lightGray;
			background-color: darken($primary-color, 3%);
			color: white;
		}
		a{
			//padding: 10px;
			//padding-bottom: .33rem;


		}
		.category{
			display: inline;
			margin-right: 0;
			color: #f4f4f4;

		}
		h1{
			margin: 0;
			//margin-top: -20px;
			//text-align:center;
		}
		h1 img {
			height: 30px;
			@media #{$medium-up} {
				height: 30px;
				margin-top: 20px;
				margin-right: 5px;
			}			
		}
		
		.exchanges-logo {	
			//clear: both;
			//display: block;
			color: white !important;
			font-size: 2.75em;
			font-family: 'Libre Baskerville', serif, times;
			font-weight: bold;
			//margin: 0;
			//padding: .66rem .22rem 0 0;
			margin-bottom: 5px;
			/* text-shadow: 1px 1px 0px #c0b29f, -1px -1px 0px rgba(0,0,0,.6); */
			
		}
		
		
		.issue-logo {
			font-size: 1.5em;
			color: $lightGray;
		}
		.more-arrow {
			font-size: 66%;
			:hover {
				font-size: 1rem;
			}
			img {
				max-width:25px;
				height: auto;
			}
		}
		
		
		a {
			letter-spacing: normal;
			-webkit-transition: letter-spacing, 2s ease-out 0.1s;
			-moz-transition: letter-spacing, 2s ease-out 0.1s;
			-o-transition: letter-spacing, 2s ease-out 0.1s;
			transition: letter-spacing, 2s ease-out 0.1s;
		}

		a:hover {
			letter-spacing: 2px;
			-webkit-transition: letter-spacing, 2s ease-out 0.1s;
			-moz-transition: letter-spacing, 2s ease-out 0.1s;
			-o-transition: letter-spacing, 2s ease-out 0.1s;
			transition: letter-spacing, 2s ease-out 0.1s;
		}
		
	}
	li#issues-nav {
		height: 0px;
		overflow: hidden;
		background-color: darken($primary-color, 3%);
		
		.issue-date {
			color: $darkGray;
			margin-top: .25em;
			text-transform: lowercase;
			font-variant: small-caps;
		}
		
		ul {
			list-style: none;
			margin-left: 0;
			
			li:hover {
				background-color: darken($primary-color, 3%);
				padding-left:3px;

			}
		}
		
		a {
			background-color: darken($primary-color, 3%);
		}
	}
}

.nav-deets {
	//color: $gray;
	margin-top: .25em;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 88%;
	line-height: normal;
	margin-bottom: 0px;
}

.side-nav>li.issue-title {
	text-transform: uppercase;
}

ul.off-canvas-list 
{
	
	background-color: $primary-color;
	.childList {
		height: 100%; 
		padding: 17px 0px 6px 0px; 
		&:hover, .active { border-right: 2px solid #30ceda; }
		overflow: auto;
	}
	li a {
		padding: 10px;
		&:hover {
			h1,h2,h3,h4 {
				//color: $primary-color;
				}
			background-color: white;
		}
	}

	li p {
		font-size: $base-font-size;
		color: #888888; 
		margin-top: -5px;
	}
}

.left-off-canvas-menu {
	background-color: #372B21;

}

.move-right .exit-off-canvas{
	box-shadow: none;
} 



