.side-nav-column {
	position: fixed;
	overflow-y: scroll;
	height: 100%;
	background-color: #F8F8F8;
	@media #{$medium-up} {
		@include grid-column(
			$collapse: true
		);
	};
} 

.side-nav, ul.off-canvas-list {
	padding: 10px;

	h3 small{
		display: block;
		line-height: 1.1;
	}

	@media #{$medium-up}{
		padding: 0;
	}

	li{
		border-bottom: 1px solid #eee;
		a{
			transition: none;
		}
	}
	:last-child{
		border-bottom: 0;
	}
	h1, h2, h3, h4, h5, h6{
		text-transform: none;
	}
	a {
		color: #646464;
		padding: 20px 15px;
	}

	p{
		line-height: 1;
	}

	h3{
		margin-top: 0;
		font-size: rem-calc(18);
		line-height: 1;
	}
	p, span, h3{
		@media #{$large-up} {
			margin-right: 2px;
		}
	}
	
	.byline{
		font-size: rem-calc(12);
		margin-bottom: 0;
	}
	li a:hover, li.active a{
		background-color: #fff;
		background-image: url('../images/sidenav-active.png');
		background-position: 100% 0;
		background-repeat: repeat-y;
	}

	li.title-nav {
		background-color: #8C8C8C;
		:hover{
			background-color: #9B9B9B;
		}
		a{
			padding: 10px;

		}
		.category{
			display: inline;
			margin-right: 0;
			color: #D0D0D0;

		}
		h1{
			margin: 0;
			margin-top: -20px;
			text-align:center;
		}
		h1 img {
			height: 30px;
			@media #{$medium-up} {
				height: 30px;
				margin-top: 20px;
				margin-right: 5px;
			}			
		}
	}
}
.side-nav>li.issue-title {
	text-transform: uppercase;
}

ul.off-canvas-list 
{
	.childList {
		height: 100%; 
		padding: 17px 0px 6px 0px; 
		&:hover, .active { border-right: 2px solid #30ceda; }
		overflow: auto;
	}
	li a {
		padding: 10px;
		&:hover {
			background-color: white;
		}
	}

	li p {
		font-size: 10px;
		color: #888888; 
		margin-top: -5px;
	}
}

.move-right .exit-off-canvas{
	box-shadow: none;
} 
