@import "imports/settings";
//@import 'foundation/components/type';

body {
	font-family: "garamond-premier-pro", serif;
	font-size: 20px;
	padding: 10px;
	.smallcaps {
		font-variant: small-caps;
	}

	p{
		margin-bottom: 0;
		margin-top: 0;
	}

	// .hanging-indent {
	// 	padding-left: 20px;
	// }

	// .hanging-indent:first-letter {
	// 	margin-left: -20px;
	// }

	.small-text{
		font-size: 11px;
	}

	.fixed-width{
		font-size: 13px;
		font-family: Monaco, "Lucida Console", monospace;
	}
}