@import "imports/settings";
@import "foundation";

@import "mixins/triangle";
@import "imports/fonts";

@import "../libs/jquery.magnific-popup/magnific-popup.scss";

@import "components/cards";
@import "components/side-cards";
@import "components/issue-preview";
@import "components/breadcrumb";
@import "components/header";
@import "components/cover";
@import "components/side-nav";
@import "components/forms";
@import "components/toc";

@import "layouts/homepage";
@import "layouts/article";
@import "layouts/subjournal";
@import "layouts/issue";
@import "layouts/issue-holder";
@import "layouts/footer/footer";
@import "layouts/footer/grid-simple";
@import "layouts/footer/config";
@import "layouts/footer/mixins";
@import "layouts/blog";
@import "layouts/common";

@import "layouts/podcast-page";

@import "components/mailchimp";
