
$highlight: #e31f2d;

body{
	background: black;
	color: white;
}

.article__container{
	background: black;
	border: none;
}

h1,h2,h3,h4,h5{
	color: white;
}
.button, button{
	background: $highlight;

	&:hover{
		background: lighten($highlight, 20);
	}
}
a{
	color: $highlight;

	&:hover{
		color: lighten($highlight, 10);
	}
}

.contain-to-grid,.top-bar{
	background: #111;
}

.post__social-icon{
	background: $highlight;

	&:hover{
		background: lighten($highlight, 10);
	}
}

.footer{
	background: #121212;
}

.toc__letter-link{
	color :white;
}