body{
	background-image: url('../images/dark_wall.png');
}

.top-bar .name h1{
    font-size: rem-calc(18);
}
.top-bar .top-bar-section ul li>a {
    font-size: rem-calc(16);
}
.article__columns{
    background: white;
    color: #222;

    h1,h2,h3,h4,h6,h6{
        color: #333;
    }

    .author, .byline{
        color: #666;
    }
}

.card-list__byline {
    color: #eee;

}

.article__container{
	border: none;
	background: none;
}

.byline, .author {
    color: #eee;
}

.footer{
	background: #121212;
}

.toc__letter-link{
	color :white;
}


.cover-content h1{
	font-weight: bold;
}

.top-bar-section ul li>a{
	text-transform: none;
}
