body{

}

.subjournal-logo{
    display: block;
    max-width: 300px;
    padding: 23px 0;
}
.top-bar.has-dropshadow{
    text-shadow: none;
}
.top-bar .name h1{
    font-size: rem-calc(18);
}

.top-bar .toggle-topbar.menu-icon a{
    color: #000;
}
.top-bar .top-bar-section ul li>a {
    font-size: rem-calc(13);
}
.nav-screen--transparent{
    background: white;
}
.article__columns{
    background: white;
    color: #222;

    h1,h2,h3,h4,h6,h6{
        color: #333;
    }

    .author, .byline{
        color: #666;
    }
}
.article__container{
    border: none;
    background: none;
}

.byline, .author {
    // color: #eee;
}

.footer{
    background: #121212;
}

.footer__logo{
    max-width: 200px;
}

.tabs .tab-title.active>a, .tabs dd.active>a {
    background: #fff;
    color: #222;
    border-bottom: 2px solid $primary-color;
}

.tabs .tab-title>a:hover, .tabs dd>a:hover {
    background: #fff;
}

.exchanges-sticky{
    display: none;
}
.cover-content span{
    display: none;
}

// .toc__letter-link{
//     color :white;
// }

.article__body {
    @media #{$large-up} {
      padding: 0 0;
    }

  p{
    font-weight: 300;
  }
}

.cover-content h1{
    font-weight: bold;
}

.top-bar-section ul li>a{
    text-transform: none;
}

.translator-note-link{
    display: none;
}

.toc-no-images__header{
    font-size: 32px;
}

.toc-no-images__item{
    padding: 5px 0;
}

.card-list__byline--text-only{
    font-size: 18px;

}