.article__meta {
    line-height: 1;
    margin-bottom: $column-gutter;
}

.article__artist-credit {
    color: #797979;
    font-family: $header-font-family;
    font-size: rem-calc(12);
    font-style: italic;
    text-align: right;

    @media #{$large-up} {
        //padding-right: 50px;
    }
}

.article__share-container {
    padding-right: rem-calc(10);
}

.article__subnav {
    margin-top: rem-calc(20);
}

.article__translated {
    padding: ($column-gutter / 2) 0;

    @media #{$large-up} {
        padding-top: 0;
    }
}

.article__translated-title.article__shared-title {
    @media #{$large-up} {
        visibility: hidden;
    }
}

.article__untranslated-title.alt-font h1 {
    font-family: Helvetica, Arial, sans;
    font-weight: normal;
    font-size: 48px;
}

.article__compilation-title {
    padding: $column-gutter 0;
    margin: 0;
}

.article__wrap {
    // background: white;

    // @media #{$large-up} {
    //     padding: rem-calc(40) 0;
    // }

    // border: 1px solid #eee;
    // overflow: hidden;
}

.article__container {
    overflow: scroll;

    @media #{$large-up} {
        background: white;
        border: 1px solid #eee;
        padding: rem-calc(40) 0;
    }

    // transition: opacity .25s ease-in-out;
    // -moz-transition: opacity .25s ease-in-out;
    // -webkit-transition: opacity .25s ease-in-out;

    // // p {
    // //     line-height: 1.5em;
    // //     margin-bottom: rem-calc(10);
    // // }

    // hr {
    //     border-color: rgba(152, 143, 120, 0.59);
    //     margin-top: 1rem;
    //     margin-bottom: 1rem;
    // }

    // &--sidebyside {
    //     @media #{$large-up} {
    //         opacity: 0;
    //     }
    // }
}

.article__body {
    &--poem-lineheight {
        p {
            line-height: 1.3em;
            margin-bottom: 0;
        }
    }

    img.leftAlone, img.rightAlone {
        width: 100%;
        margin: rem-calc(10) auto;
        border: 1px solid #eee;
    }

    @media #{$large-up} {
        padding: 0 ($article-poetry-padding / 2);
    }
}

.article__body--original-work {
    padding-top: 30px;

    @media #{$medium-up} {
        padding-top: 0;
    }
}

.article__body--lang-ar, .article__body--lang-ku {
    font-family: $arabic-font-family;

    h1, h2, h3, h4, h5, h6 {
        font-family: $arabic-font-family;
    }
}

.article__text--lang-ar, .article__text--lang-ku {
    font-size: rem-calc(17);
}

.article__cover-container {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #666;

    @media #{$small-up} {
        min-height: 275px;
    }

    @media #{$medium-up} {
        min-height: 350px;
    }

    @media #{$large-up} {
        min-height: 425px;
    }

    @media #{$xlarge-up} {
        min-height: 525px;
    }
}

.issue-nav {
    margin-top: $footer-padding;
    font-size: rem-calc(28);
    font-family: $header-font-family;
    line-height: 1.2;

    &__toc-container {
        text-align: center;
        padding-bottom: $column-gutter;

        @media #{$large-up} {
            //margin-top: -30px;
            padding-bottom: 0;
        }
    }

    &__toc-link {
        font-size: rem-calc(24);
        text-transform: uppercase;
        margin-top: $column-gutter;
        border-bottom: 2px solid $primary-color;

        &:hover {
            border-radius: 3px;
        }

        @media #{$large-up} {
            // padding-bottom: rem-calc(10);
        }
    }

    &__prev-container {
        text-align: center;

        @media #{$large-up} {
            text-align: left;
        }
    }

    &__next-container {
        text-align: center;

        @media #{$large-up} {
            text-align: right;
        }

        &.hide-for-large-up {
            padding: 20px 0;
        }
    }

    @media #{$large-up} {
        //text-align: right;
    }
}

.translation-nav {
    text-align: center;
}

.translation-nav__item {
    &.tab-title {
        float: none;
        display: inline-block;
    }
}

.translation-nav .translation-nav__item.active > a {
    color: #fff;
}

//Change global layouts and nav using modifiers:

.layout--Article {
    padding-top: $column-gutter / 2;

    &.equalized .article__container--sidebyside {
        opacity: 1;
    }
}

.nav-container--Article {
    background-size: cover;
    background-repeat: no-repeat;
}

.row--Article {
    max-width: $article-row-width;
}

.contain-to-grid--Article {
    background: none;
}

.contain-to-grid--Article .top-bar {
    max-width: $article-row-width;
}