.post__summary {
	margin: $column-gutter 0;
}

.post__social {
	list-style: none;
	margin: 0 auto;
	font-size: 13px;
	padding: 0;
	text-align: left;

	@media only screen and (min-width: 1000px) {
		list-style: none;
		margin: 0;
		font-size: 15px;

		// padding-top: 5px;
		// padding-left: 15px;
	}
}

.post__social--horizontal {
	float: none;
}

.post__social-item {
	display: inline-block;
	margin-right: 1em;

	@media only screen and (min-width: 1000px) {
		margin: 0;
		display: block;
	}
}

.post__social-item--horizontal {
	display: inline-block;
	margin-right: 1em;
}

.post__social-label {
	font-family: "futura-pt","Arial Narrow",sans-serif;
}

.post__social-icon {
	display: block;
	text-align: center;
	background: $primary-color;
	border-radius: 50%;
	margin: rem-calc(10) auto;
	height: rem-calc(30);
	width: rem-calc(30);

	&:before {
		color: white;
		font-size: rem-calc(18);
		line-height: rem-calc(30);
	}
}

.blog-post-meta {
	font-size: rem-calc(11);
	text-transform: uppercase;
	font-family: $header-font-family;
}

.post__container {
	overflow: scroll;

	@media #{$large-up} {
		background: white;
		border: 1px solid #eee;
		padding: rem-calc(40) 0;
	}
}

.post__meta {
	font-family: "futura-pt","Arial Narrow",sans-serif;
	text-transform: uppercase;
}

.post__heading, .post__meta, .post__body {
	@media #{$large-up} {
		padding: 0 rem-calc(40);
	}

	@media #{$xlarge-up} {
		padding: 0 rem-calc(100);
	}
}

.post__image {
	width: 100%;
	padding-bottom: rem-calc(40);
}

h2.banner {
	margin-top: 0;
}

p.pagination {
	padding-left: 50px;
}

.pagination-link {
	margin-left: 10px;
}