#archive-nav-bar{

	background-color:#372B21;
	
	font-family: 'Libre Baskerville', serif, Times;
	-webkit-box-shadow:0 1px 6px rgba(20,20,20,0.3);
	-moz-box-shadow:0 1px 6px rgba(20,20,20,0.3);
	-o-box-shadow:0 1px 6px rgba(20,20,20,0.3); 
	box-shadow:0 1px 6px rgba(20,20,20,0.3);
	position:relative;
	z-index:1

}


#archive-nav-bar a {
	font-weight: normal;
	font-size: 16px;
	text-shadow: 1px 1px 8px rgba(56,53,53,0.94);
	text-decoration: none;s
}



.btn-primary.directory {
  background-color: hsl(55, 10%, 13%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#565547", endColorstr="#24231d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#565547), to(#24231d));
  background-image: -moz-linear-gradient(top, #565547, #24231d);
  background-image: -ms-linear-gradient(top, #565547, #24231d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565547), color-stop(100%, #24231d));
  background-image: -webkit-linear-gradient(top, #565547, #24231d);
  background-image: -o-linear-gradient(top, #565547, #24231d);
  background-image: linear-gradient(#565547, #24231d);
  border-color: #24231d #24231d hsl(55, 10%, 8.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}

.clearfix{
	clear: both;
}




.links {
	width: 1000px;
	margin: auto;
	padding: 3px 0;
}

.links a {
	color: #C0B29F;
	font-size: 11px;
	border-right: 1px solid #333;
	padding-right: 5px;
	padding-left: 3px;
}


