@charset "UTF-8";
/* CSS Document */

body {
margin:0px;
padding:0px;
/*background: url(images/top_back_new.gif);
*/background: url(../images/treeupbg.jpg);
background-repeat: repeat-x;
background-color:#ffffcc;
background-position:center;
background-position:top;

}



div#container {
width: 800px;
margin: 0 auto;
}

div#footer {
width: 800px;
margin: 0 auto;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 14px;
color:#5b3822;
}



/******Navigation Div********/

.static_link {
background-color:#513D17;
} 

div#navigation {
height:100px;
padding:0px;
margin-top: 0px;

}

div#navigation img {
float: left;
padding-top: 0px;
}


div#navigation ul {
  float: right;
  padding-top: 27px;
  list-style: none;

 
}


div#navigation li {
  display: inline;
  position: relative;
  color:#ffe1a8;
  }
  
  div#navigation li a {
  margin: 0px 0px 0px 15px;
  padding:0px 7px 0px 7px;
  color:#ffe1a8;
  font-size: 20px;
  width: 100%;
  }
  
  div#navigation li ul li a {
  margin: 0;
  padding: 2px;
  font-size: 20px;
  }
  
  div#navigation li ul li:hover {
  background-color:#663333;
 
  }
  
  div#navigation a:hover {
  color: #513D17;
  background-color: #c1d8e6;
  
  }
  
  
  div#navigation li ul li {
  margin-top: 5px;
 
  }
  
  
div#navigation li ul {
  display: none;
  position: absolute; 
  top: 18px;
  left: 15px;
  
  }
  
 div#navigation li:hover ul { 
 display: block; 
 background: #513D17; 
 padding: 6px;
 }
 
 

