.top-bar {
	&.has-dropshadow {
		text-shadow: 0 1px 0 rgba(#333, 0.5);
	}

	img.uiowa-logo {
		opacity: 0.7;
		height: 13px;

		&:hover {
			opacity: 1;
		}
	}

	.top-bar-section .dropdown li {
		background: rgba($topbar-base-color, 0.95);
	}

	.toggle-topbar {
		font-family: $header-font-family;
		z-index: 1000;
	}
}

.top-bar {
	background-color: $topbar-base-color;
}
.top-bar--transparent{
    background: none;    
}
.contain-to-grid {
	background-color: $topbar-base-color;
}

.nav-screen {
	background: rgba($topbar-base-color, 0.1);
}


.nav-screen--transparent {
    background-color: rgba($topbar-base-color, 0.3);
}

.nav-screen--opaque{
    background-color: $topbar-base-color;
}
.top-bar input {
	font-family: $header-font-family;
	font-size: 0.6em;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: width 0.2s ease, background-color 0.2s ease;
	-moz-transition: width 0.2s ease, background-color 0.2s ease;
	transition: width 0.2s ease, background-color 0.2s ease;
}

.tab-bar {
	background-color: $primary-brown;

	a {
		color: $lightGray;

		span {
			color: $lightGray;
		}
	}

	h1 {
		text-align: center;
	}

	h1.title img, .title-area h1 img {
		height: 50px;

		@media #{$medium-up} {
			height: 35px;
		}
	}

	section.right {
		font-family: $header-font-family;
		text-transform: uppercase;
		font-size: rem-calc(13);
		padding-right: 10px;
	}
}