
html, body{ height: 100%; }
*{ box-sizing: border-box; }
html, body{ font-size: 100%; }
body{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-family: proxima-nova, san-serif; font-weight: normal; font-style: normal; line-height: 150%; position: relative; cursor: auto; background-position: initial initial; background-repeat: initial initial; }
img{ max-width: 100%; height: auto; }
img{ }
img{ display: inline-block; vertical-align: middle; }
.row{ width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px; max-width: 1360px; }
.row::before, .row::after{ content: ' '; display: table; }
.row::after{ clear: both; }
.row .row{ width: auto; margin-left: -0.9375rem; margin-right: -0.9375rem; margin-top: 0px; margin-bottom: 0px; max-width: none; }
.row .row::before, .row .row::after{ content: ' '; display: table; }
.row .row::after{ clear: both; }
 .columns{ padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; }
[class*="column"] + [class*="column"]:last-child{ float: right; }
[class*="column"] + [class*="column"].end{ float: left; }
@media only screen{
 .columns{ position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
.small-8{ width: 66.66667%; }
.small-12{ width: 100%; }
}
@media only screen and (min-width: 40.063em){
 .columns{ position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
.medium-3{ width: 25%; }
.medium-4{ width: 33.33333%; }
.medium-5{ width: 41.66667%; }
}
@media only screen and (min-width: 64.063em){
 .columns{ position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
.large-2{ width: 16.66667%; }
.large-3{ width: 25%; }
.large-4{ width: 33.33333%; }
.large-7{ width: 58.33333%; }
.large-8{ width: 66.66667%; }
.large-9{ width: 75%; }
.large-12{ width: 100%; }
 .columns.large-uncentered{ margin-left: 0px; margin-right: 0px; float: left; }
}
@media only screen and (min-width: 90.063em){
 .columns{ position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
}
@media only screen and (min-width: 120.063em){
 .columns{ position: relative; padding-left: 0.9375rem; padding-right: 0.9375rem; float: left; }
.xxlarge-2{ width: 16.66667%; }
.xxlarge-10{ width: 83.33333%; }
}
.side-nav{ display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-type: none; list-style-position: outside; font-family: alverata-irregular-pe, Helvetica, Arial, sans-serif; }
.side-nav li{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-size: 1rem; font-weight: normal; }
.side-nav li a:not(.button){ display: block; color: rgb(248, 248, 248); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0.4375rem; padding-right: 0.875rem; padding-bottom: 0.4375rem; padding-left: 0.875rem; }
div, ul, li, h1, h2, h3, h4, p{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
a{ color: rgb(34, 115, 148); text-decoration: none; line-height: inherit; }
a img{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
p{ font-family: inherit; font-weight: normal; font-size: 1rem; line-height: 1.6; margin-bottom: 1.25rem; text-rendering: optimizelegibility; }
h1, h2, h3, h4{ font-family: alverata-irregular-pe, Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; color: rgb(55, 43, 33); text-rendering: optimizelegibility; margin-top: 0.2rem; margin-bottom: 0.5rem; line-height: 0.95; }
h1{ font-size: 2.125rem; }
h2{ font-size: 1.6875rem; }
h3{ font-size: 1.375rem; }
h4{ font-size: 1.125rem; }
em{ font-style: italic; line-height: inherit; }
ul{ font-size: 1rem; line-height: 1.6; margin-bottom: 1.25rem; list-style-position: outside; font-family: inherit; }
ul{ margin-left: 1.1rem; }
ul li ul{ margin-left: 1.25rem; margin-bottom: 0px; }
@media only screen and (min-width: 40.063em){
h1, h2, h3, h4{ line-height: 0.95; }
h1{ font-size: 2.75rem; }
h2{ font-size: 2.3125rem; }
h3{ font-size: 1.6875rem; }
h4{ font-size: 1.4375rem; }
}
.off-canvas-wrap{ -webkit-backface-visibility: hidden; position: relative; width: 100%; overflow-x: hidden; overflow-y: hidden; }
.inner-wrap{ position: relative; width: 100%; -webkit-transition-property: -webkit-transform; -webkit-transition-duration: 500ms; -webkit-transition-timing-function: ease; -webkit-transition-delay: initial; }
.inner-wrap::before, .inner-wrap::after{ content: ' '; display: table; }
.inner-wrap::after{ clear: both; }
.tab-bar{ -webkit-backface-visibility: hidden; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); height: 2.8125rem; line-height: 2.8125rem; position: relative; background-position: initial initial; background-repeat: initial initial; }
.tab-bar h1{ color: rgb(255, 255, 255); font-weight: bold; line-height: 2.8125rem; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.tab-bar h1{ font-size: 1.125rem; }
.left-small{ width: 2.8125rem; height: 2.8125rem; position: absolute; top: 0px; border-right-style: none; border-right-width: initial; border-right-color: initial; left: 0px; }
.tab-bar-section{ padding-top: 0px; padding-right: 0.625rem; padding-bottom: 0px; padding-left: 0.625rem; position: absolute; text-align: center; height: 2.8125rem; top: 0px; }
.tab-bar-section.middle{ left: 2.8125rem; right: 2.8125rem; }
.tab-bar .menu-icon{ text-indent: 2.1875rem; width: 2.8125rem; height: 2.8125rem; display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: rgb(248, 248, 248); position: relative; }
.tab-bar .menu-icon span::after{ content: ''; position: absolute; display: block; height: 0px; top: 50%; margin-top: -0.5rem; left: 0.90625rem; box-shadow: rgb(248, 248, 248) 0px 0px 0px 1px, rgb(248, 248, 248) 0px 7px 0px 1px, rgb(248, 248, 248) 0px 14px 0px 1px; width: 1rem; }
.left-off-canvas-menu{ -webkit-backface-visibility: hidden; width: 15.625rem; top: 0px; bottom: 0px; position: absolute; overflow-x: hidden; overflow-y: auto; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(248, 248, 248); z-index: 1001; box-sizing: content-box; -webkit-transform: translate3d(-100%, 0px, 0px); left: 0px; background-position: initial initial; background-repeat: initial initial; }
.left-off-canvas-menu *{ -webkit-backface-visibility: hidden; }
ul.off-canvas-list{ list-style-type: none; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
ul.off-canvas-list li a{ display: block; padding-top: 0.66667rem; padding-right: 0.66667rem; padding-bottom: 0.66667rem; padding-left: 0.66667rem; color: rgb(75, 75, 75); border-bottom-style: none; border-bottom-width: initial; border-bottom-color: initial; }
@media only screen{
 .show-for-small-up, .hide-for-large-up{ display: inherit !important; }
 .show-for-large-up{ display: none !important; }
}
@media only screen and (min-width: 40.063em){
 .show-for-small-up, .hide-for-large-up{ display: inherit !important; }
 .show-for-large-up{ display: none !important; }
}
@media only screen and (min-width: 64.063em){
 .show-for-small-up, .show-for-large-up{ display: inherit !important; }
 .hide-for-large-up{ display: none !important; }
}
@media only screen and (min-width: 90.063em){
 .show-for-small-up, .show-for-large-up{ display: inherit !important; }
 .hide-for-large-up{ display: none !important; }
}
@media only screen and (min-width: 120.063em){
 .show-for-small-up, .show-for-large-up{ display: inherit !important; }
 .hide-for-large-up{ display: none !important; }
}
@media print{
*{ background-image: initial !important; background-attachment: initial !important; background-origin: initial !important; background-clip: initial !important; background-color: transparent !important; color: rgb(0, 0, 0) !important; box-shadow: none !important; text-shadow: none !important; background-position: initial initial !important; background-repeat: initial initial !important; }
a{ text-decoration: underline; }
a[href]::after{ content: ' (', attr(href), ')'; }
 img{ page-break-inside: avoid; }
img{ max-width: 100% !important; }
p, h2, h3{ orphans: 3; widows: 3; }
h2, h3{ page-break-after: avoid; }
}
.tab-bar{ background-color: rgb(40, 32, 26); }
.tab-bar a{ color: rgb(248, 248, 248); }
.tab-bar a span{ color: rgb(248, 248, 248); }
.tab-bar h1{ text-align: center; }
.side-nav-column{ position: fixed; left: 0px; overflow-y: scroll; height: 100%; background-color: rgb(248, 248, 248); }
@media only screen and (min-width: 40.063em){
.side-nav-column{ padding-left: 0px; padding-right: 0px; float: left; }
}
@media only screen and (min-width: 40.063em){
.side-nav, ul.off-canvas-list{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.side-nav li, ul.off-canvas-list li{ background-color: rgb(55, 43, 33); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(87, 75, 65); }
.side-nav li.article-nav.issue, ul.off-canvas-list li.article-nav.issue{ background-size: cover; text-align: center; }
.side-nav li.article-nav.issue h2, ul.off-canvas-list li.article-nav.issue h2{ font-size: 1.75rem; }
@media only screen and (min-width: 64.063em){
.side-nav li.article-nav.issue h2, ul.off-canvas-list li.article-nav.issue h2{ font-size: 2.125rem; }
}
.side-nav li .issue-nav-overlay, ul.off-canvas-list li .issue-nav-overlay{ background-color: rgba(55, 43, 33, 0.699219); }
.side-nav li .nav-li-content, ul.off-canvas-list li .nav-li-content{ color: rgb(159, 159, 159); }
.side-nav li a:not(.button), ul.off-canvas-list li a:not(.button){ color: rgb(255, 255, 255); padding-top: 1.25rem; padding-right: 1.25rem; padding-bottom: 1.25rem; padding-left: 1.25rem; }
.side-nav :last-child, ul.off-canvas-list :last-child{ border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; }
.side-nav h1, .side-nav h2, .side-nav h4, ul.off-canvas-list h1, ul.off-canvas-list h2, ul.off-canvas-list h4{ text-transform: none; color: rgb(255, 255, 255); }
.side-nav p, ul.off-canvas-list p{ line-height: 1; }
@media only screen and (min-width: 64.063em){
.side-nav p, .side-nav span, ul.off-canvas-list p, ul.off-canvas-list span{ margin-right: 2px; }
}
.side-nav li.title-nav, ul.off-canvas-list li.title-nav{ background-color: rgb(40, 32, 26); text-align: center; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
.side-nav li.title-nav h1, ul.off-canvas-list li.title-nav h1{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.side-nav li.title-nav #current-issue a, ul.off-canvas-list li.title-nav #current-issue a{ letter-spacing: normal; -webkit-transition-property: letter-spacing, initial; -webkit-transition-duration: initial, 1s; -webkit-transition-timing-function: initial, ease-in-out; -webkit-transition-delay: initial, 0s; }
.side-nav li.title-nav .exchanges-logo, ul.off-canvas-list li.title-nav .exchanges-logo{ color: white !important; font-size: 2.75em; font-family: 'Libre Baskerville', serif, times; font-weight: bold; margin-bottom: 5px; }
.side-nav li.title-nav .exchanges-logo a, ul.off-canvas-list li.title-nav .exchanges-logo a{ padding-top: 15px; padding-bottom: 10px; }
.side-nav li.title-nav #title-nav-menu, ul.off-canvas-list li.title-nav #title-nav-menu{ margin-bottom: 0px; margin-left: 0px; border-top-style: solid; border-top-color: rgb(116, 100, 87); border-top-width: 1px; padding-bottom: 3px; }
.side-nav li.title-nav #title-nav-menu li, ul.off-canvas-list li.title-nav #title-nav-menu li{ background-color: rgb(40, 32, 26); display: inline-block; color: rgb(159, 159, 159); border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; width: auto; }
.side-nav li.title-nav #title-nav-menu li a, .side-nav li.title-nav #title-nav-menu li span, ul.off-canvas-list li.title-nav #title-nav-menu li a, ul.off-canvas-list li.title-nav #title-nav-menu li span{ color: rgb(159, 159, 159); padding-top: 0px; padding-right: 8px; padding-bottom: 0px; padding-left: 8px; margin-top: 0px; cursor: pointer; }
.side-nav li.title-nav #title-nav-menu, ul.off-canvas-list li.title-nav #title-nav-menu{ margin-left: 0px; margin-right: 0px; }
.side-nav li.pastissues, ul.off-canvas-list li.pastissues{ display: none; background-color: rgb(107, 92, 80); }
.side-nav li.pastissues .nav-li-content, ul.off-canvas-list li.pastissues .nav-li-content{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.side-nav li.pastissues .nav-deets, ul.off-canvas-list li.pastissues .nav-deets{ color: rgb(186, 186, 186); }
.side-nav li.pastissues a, ul.off-canvas-list li.pastissues a{ background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: initial initial; background-repeat: initial initial; }
.nav-deets{ margin-top: 0.25em; text-transform: uppercase; font-size: 12px; line-height: normal; margin-bottom: 0px; letter-spacing: 1px; }
ul.off-canvas-list{ background-color: rgb(34, 115, 148); }
ul.off-canvas-list li p{ color: rgb(136, 136, 136); margin-top: -5px; }
.left-off-canvas-menu{ background-color: rgb(55, 43, 33); }
@media screen and (min-width: 480px){
.footer p{ font-size: 0.8125rem; }
}
.footer-nav{ list-style-type: none; list-style-position: initial; list-style-image: initial; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 1em; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.footer-nav:first-child{ padding-top: 0px; }
.footer-nav a{ display: block; padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; -webkit-transition-property: all; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; }
@media screen and (min-width: 480px){
.footer-nav a{ font-size: 0.8125rem; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 10px; }
}
.footer .logo{ display: block; }
.footer .logo.uiowa{ max-width: 200px; }
.colgroup::before, .colgroup::after{ content: ''; display: table; clear: both; }
body{ background-image: url(../images/tile.jpeg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: initial initial; background-repeat: initial initial; }
.exchanges-logo{ font-family: 'Libre Baskerville', serif, times; }
.full-width{ width: 100%; margin-left: auto; margin-right: auto; max-width: initial; }
h1{ font-weight: bold; }
.main{ min-height: 320px; }
@media only screen and (min-width: 64.063em){
.main-column{ padding-left: 0px; padding-right: 0px; float: left; }
}
.padded-content{ padding-top: 20px; }
@media only screen and (min-width: 64.063em){
.padded-content{ padding-left: 40px; padding-right: 20px; padding-top: 30px; }
}
@media only screen and (min-width: 90.063em){
.padded-content{ padding-left: 60px; padding-right: 20%; }
}
.emblem{ width: 100%; }
article{ padding-top: 20px; padding-right: 0px; padding-bottom: 20px; padding-left: 0px; }
article.first{ padding-top: 0px; }
article time{ font-size: 12px; display: block; text-transform: uppercase; color: rgb(102, 102, 102); margin-top: 0.4em; margin-right: 0px; margin-bottom: 0.4em; margin-left: 0px; }
#nav-background{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(40, 32, 26); background-position: initial initial; background-repeat: initial initial; }
#main-background{ min-height: 777px; background-image: url(../images/tile.jpeg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: initial initial; background-repeat: initial initial; }
@media only screen and (min-width: 64.063em){
#main-background .columns{ padding-right: 2rem; }
}
#main-background img{ width: 100%; max-width: 1600px; }