#studentlife-bar {
  background: #262626;
  background: -moz-linear-gradient(top, #262626 0%, #111111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, #262626 0%, #111111 100%);
  background: -o-linear-gradient(top, #262626 0%, #111111 100%);
  background: -ms-linear-gradient(top, #262626 0%, #111111 100%);
  background: linear-gradient(to bottom, #262626 0%, #111111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#111111',GradientType=0 );
  border-top: 5px solid #fc0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1;
}

#studentlife-bar {
  background-color: #000;
  border-top: 5px solid #ffce39;
}

#studentlife-bar .logos {
  float: left;
  margin: 10px 0;
  padding: 0;
  line-height: 1.2em;
  font-size: 1.0em;
  font-weight: bold;
  color: #ffce39;
}

#studentlife-bar .logos a {
  color: #ffce39;
}

#studentlife-bar .logos span {
  color: #fff;
  margin-left: 10px;
  margin-top: 5px;
}

#studentlife-bar .logos span a {
  color: #fff;
}

#studentlife-bar ul {
  margin: 10px 0;
  padding: 0;
  float: right;
}

#studentlife-bar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  border-right: 1px solid #666;
  padding-left: 5px;
  padding-right: 5px;
}

#studentlife-bar ul li a {
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ddd;
}

#studentlife-bar ul li a:hover {
  color: #fff;
}

#studentlife-bar ul li#univ-nav-all {
  border-right: none;
  padding-right: 0;
}

#studentlife-bar ul li#univ-nav-all a {
  text-transform: none;
}

ul#univ-nav li .sub {
  position: absolute;
  /*--Important--*/
  top: 28px;
  left: -285px;
  z-index: 99999;
  background: #333333;
  /* old browsers */
  background: -moz-linear-gradient(top, #333333 0%, black 99%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(99%, black));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000',GradientType=0 );
  /* ie */
  padding: 10px 10px 10px;
  float: left;
  /*--Bottom right rounded corner--*/
  -moz-border-radius-bottomright: 5px;
  -khtml-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  /*--Bottom left rounded corner--*/
  -moz-border-radius-bottomleft: 5px;
  -khtml-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  display: none;
  /*--Hidden for those with js turned off--*/
}

ul#univ-nav li .row {
  /*--If needed to break out into rows--*/
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

ul#univ-nav li .sub ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 174px;
  float: left;
}

ul#univ-nav .sub ul li {
  width: 100%;
  /*--Override parent list item--*/
  color: #fff;
  border: none;
}

ul#univ-nav .sub ul li h2 {
  /*--Sub nav heading style--*/
  padding: 0;
  margin: 0;
  font-size: 1.3em;
  font-weight: normal;
}

ul#univ-nav .sub ul li h2 a {
  /*--Sub nav heading link style--*/
  padding: 5px 0;
  background-image: none;
  color: #e8e000;
}

ul#univ-nav h2 {
  color: white;
  font-size: 16px;
}

ul#univ-nav .sub ul li a {
  float: none;
  text-indent: 0;
  /*--Override text-indent from parent list item--*/
  height: auto;
  /*--Override height from parent list item--*/
  background: url(navlist_arrow.png) no-repeat 5px 12px;
  padding: 5px 5px 5px 5px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

ul#univ-nav .sub ul li a:hover {
  color: #ddd;
  background-position: 5px 12px;
  /*--Override background position--*/
}

#univ-nav li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

.subnav-separator {
  height: 3px;
  width: 100%;
  background-color: #cba636;
  margin: 3px 0;
}
