.breadcrumb {
	-webkit-appearance: none;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.8s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(173, 173, 173);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: rgb(13, 121, 165);
	border-left-style: solid;
	border-left-width: 0px;
	border-right-color: rgb(13, 121, 165);
	border-right-style: solid;
	border-right-width: 0px;
	border-top-color: rgb(13, 121, 165);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(121, 121, 121);
	cursor: pointer;
	display: inline-block;
	font-family: futura-pt, 'Arial Narrow', sans-serif;
	font-size: 14.299999237060547px;
	font-style: normal;
	font-weight: normal;
	height: 47.296875px;
	line-height: 18px;
	margin-bottom: 22.75px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 14.299999237060547px;
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 13px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition-delay: 0s;
	transition-duration: 0.8s;
	transition-property: all;
	transition-timing-function: ease;

	&:hover, &:active {
		background: none;
		color: #797979;
		border-radius: 10px;
	}

	&--full-width{
		display: block;
		padding: 1em;
	}
}

