@import "imports/settings";
@import "foundation";
@import "imports/footer/config";
@import "imports/footer/mixins";

@import "imports/header";
@import "imports/side-nav";
@import "imports/footer/footer";

@import "imports/footer/grid-simple";

body {
	background: url(../images/tile.jpeg);

}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

h1{
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
}

hr {
	margin-bottom: 1rem;
}

.clearfix {
    clear: both;
}

.main {
    min-height: 320px;
}

.name {
    position: relative;
    z-index: 1000;
}

.name .category {
    display: inline-block;
    margin-left: 8px;
}

.main-column {
    @media #{$large-up} {
        @include grid-column($collapse: true);
    }
}
/* Content padding so it doesn't run up against the sidenav  */
article header, article .article-text, article .content-text, .footer {
    @media #{$medium-up} {
        
    }
    @media #{$large-up} {
        padding-left: 40px;
    }
    @media #{$xlarge-up} {
        padding-left: 60px;
    }
}


article {
	padding-top: 10px;
	@media #{$medium-up}{
		padding-top: 20px;
	}
    @media #{$large-up}{

    	padding-top: 45px;
    	&.first{
    		padding-top: 20px;
    	}
    }
    time{
    	font-size: 18px;
    }
    header {
        font-family: $header-font-family;
        h1{
        	text-transform: uppercase;
        }
        small {
        	font-weight: normal;
        	text-transform: none;
            display: block;
            padding: 0.1em 0;
            line-height: 1;
        }
    }
    .article-text, .content-text {
        max-width: 720px;
        min-height: 300px;
    }
    .content-text * {
        font-size: rem-calc(18);
    }
    img.cover {
        margin-bottom: 20px;
    }
}

.byline {
    font-size: rem-calc(14);
    line-height: 1;
    color: #666;
    font-style: italic;
}

.category {
    text-transform: uppercase;
    display: block;
    color: $primary-color;
    font-size: rem-calc(13);
}

#nav-background {
	background: #28201A;

}

#main-background {
	
	.emblem {
		margin-bottom: 1rem;
	}
	
	min-height: 777px;
	background: url(../images/tile.jpeg);
	//padding-top: 2.5rem;

	
	@media #{$large-up}{
		.columns, .column {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	
	}
		
	> .row:first-child {
			margin-top: 0;
			@media #{$medium-up}{
				margin-top: 2.5rem;
			}
	}

	
	> .row:not(.footer) {
		
		padding: 1.5rem;
		//margin-top: 2rem;
		
		@media #{$medium-up}{
			max-width: 1200px;
			padding: 0 1rem;
			padding-left: 40px;
			//margin-top: 2rem;
			
		}
		
	}
	
	img {
		width: 100%;
		max-width: 1600px;
	}
	
}

#homepage {
	
	.cur-issue-link {
		padding: .25rem 0;
	}
	

	
	@media #{$medium-up}{
		margin: 0 0 1rem 0;
		padding: 0;
	}
	
}


#news {
	blockquote {
		color: $primary-color;
		font-size: 90%;
	}
	
	.columns, .column {
		//padding-left: 1.25rem;
		//padding-right: 1.25rem;
	}
	
}

#poetry {
	
	//padding: 0 !important;
	//margin: 0 !important;
	//white-space: nowrap;

	p {
		line-height: 1.2em;
		margin-bottom: 0;
	}
	
	hr {
		border-color: $darkGray;
		//margin: .25rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	
	.author {
		color: $darkGray;
		margin-top: .25em;
		text-transform: lowercase;
		font-variant: small-caps;
		font-size: 99%;
		line-height: normal;
		margin-bottom: 0px;
	}
	
	#original-work {
		padding: .25in .25in;
		
		@media #{$medium-only} {
			padding: 0 .5in .5in .5in;

    	}
    	
    	@media #{$large-up} {
			padding: 0 .25in 1in .5in;

    	}
	}
	// There are slightly different paddings between these two
	#translated-work{
		padding: .25in .25in;
		
		@media #{$medium-only} {
			padding: 0 .5in .5in .5in;

    	}
    	@media #{$large-up} {
			padding: 0 .5in 1in .25in;

    	}
	}
	
}

