@import "imports/settings";
@import 'foundation/components/type';

.typography {
	background: $body-bg;
	font-family: $body-font-family;
	font-size: 16px;
	padding: 10px;
	.smallcaps {
		font-variant: small-caps;
	}

	p.hanging-indent {
		padding-left: 20px;
	}

	p.hanging-indent:first-letter {
		margin-left: -20px;
	}
}