@import "imports/settings";
//@import 'foundation/components/type';

body {
	font-family: "garamond-premier-pro", serif;
	font-size: 16px;
	padding: 10px;
	.smallcaps {
		font-variant: small-caps;
	}

	p{
		margin: 0;
	}

	p.hanging-indent {
		padding-left: 20px;
	}

	p.hanging-indent:first-letter {
		margin-left: -20px;
	}

	.fixed-width{
		font-family: Monaco, "Lucida Console", monospace;
	}
}