@charset "UTF-8";
/* CSS Document */

body {
margin:0px;
padding:0px;
/*background: url(images/top_back_new.gif);
*/background: url(../images/treeupbg.jpg);
background-repeat: repeat-x;
background-color:#ffffcc;
background-position:center;
background-position:top;

}



div#container {
width: 800px;
margin: 0 auto;
}

div#footer {
width: 800px;
margin: 0 auto;
font-family: Georgia, "Times New Roman", Times, serif;
font-size: 14px;
color:#5b3822;
}



/******Navigation Div********/

.static_link {
background-color:#513D17;
} 

div#navigation {

height:100px;
padding:0px;
margin-top:-15px;

}

div#navigation img {

padding-top: 15px;
}

div#navigation ul {
height:20px;
list-style-type:none;
padding:0px;
float: right;
margin-right: 20px;

}

div#navigation li { 
padding-top:35px;
float: left;
}

div#navigation li a{

margin: 0px 0px 0px 15px;
padding:0px 7px 0px 7px;
font-family: Garamond, georgia, serif;
color:#ffe1a8;
font-size:20px;
text-decoration:none;
background-color: #513D17;
}

div#navigation li a:hover {
color:#5b3822;
text-decoration:none;
font-family: Garamond, georgia, serif;
background-color:#c1d8e6;
display: block;

}

div#navigation ul li ul{
/*margin-top: 20px;
margin-left: -130px;*/
display:none;

}

div#navigation li ul li {

float:none;
color:#5b3822;
padding:0px;
font-family: Garamond, georgia, serif;
text-align:left;
}


div#navigation li ul li a:hover{
color:#5b3822;
text-align:left;
}


div#navigation ul li:hover ul{
position:absolute;
display:block;


}





