.podcast-cover {
    display: block;

    width: 100%;

    @media #{$medium-up} {
        padding-left: 20px;
    }
}

.podcast-intro {}

.podcast-intro-grid {

    @media #{$medium-up} {
        display: grid;
        align-items: center;
        grid-template-columns: 50% 50%;

        margin-bottom: 30px;
    }
}
