.podcast-cover {
    display: block;
    padding-left: 10px;
    width: 100%;
}

.podcast-intro {}

.podcast-intro-grid {

    @media #{$medium-up} {
        display: grid;
        align-items: center;
        grid-template-columns: 50% 50%;

        margin-bottom: 30px;
    }
}
